@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
   
  
  
  
  .menu ul{
    
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .menu li{
    display: inline-block;
    margin: 0 15px;
  }
  .menu a{
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    position: relative;
    padding: 4px 0;
  }
  .menu a::before{
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s transform ease;
    transform: scale3d(0,1,1);
    transform-origin: 0 50%;
  }
  .menu a:hover::before{
    transform: scale3d(1,1,1);
  }
  .menu-1 a::before{
    background: #E91E63;
    transform-origin: 100% 50%;
  }
  .menu-1 a:hover::before{
    transform-origin: 0 50%;
  }
  
  .menu {
    z-index: 10; /* Ensure the navbar is in front */
    position: relative; /* Make z-index effective */
  }
  .hero-bg {
    position: absolute; /* Position the hero image behind the navbar */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Cover the full viewport height */
    object-fit: cover;
    z-index: 0; /* Ensure the hero image is behind */
  }
  #keen-slider {
    width: 100%;
    height: auto; /* Ensure it adjusts based on content */
  }
  
  .keen-slider__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px; /* Adjust as needed */
    background: #f9f9f9; /* Optional for debugging */
  }
  #keen-slider-previous,
#keen-slider-next {
  background-color: rgba(255, 0, 0, 0.5); /* Red for visibility */
  border: 1px solid black;
}

  
  
